<!DOCTYPE html>
<html dir="ltr" lang="fr">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="m3soft" />

    <!-- Stylesheets
    ============================================= -->

    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap" rel="stylesheet">
    <link href="assets/css/all.css" rel="stylesheet">

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">




    
</head>

<body class="stretched">

    <!-- Document Wrapper
	============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Navigation -->

        <header id="header">


            <nav class="navbar navbar-light navbar-expand-md  justify-content-center">
                <div id="header-container">
                    <a id="home-logo" href="index.html"><img id="nav-logo-railconcept" src="assets/images/logo.png"
                            alt="rail-concept-logo" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse table " id="navbarResponsive">
                        <ul id="main_nav" class="navbar-nav ">
                            <li class="mainnavmobile nav-item text-nowrap ">
                                <a class="nav-link underline selected" href="#section-competences">nous connaître

                                </a>
                            </li>
                            <li class="mainnavmobile nav-item text-nowrap">
                                <a class="nav-link underline " href="#">nos compétences</a>
                            </li>
                            <li class="mainnavmobile nav-item text-nowrap">
                                <a class="nav-link underline " href="#">nos réalisations</a>
                            </li>
                            <li class="mainnavmobile nav-item text-nowrap">
                                <a class="nav-link underline " href="#">carrières</a>
                            </li>
                            <li class="mainnavmobile nav-item text-nowrap">
                                <a class="nav-link underline " href="#">actualités</a>
                            </li>
                            <li class="mainnavmobile nav-item text-nowrap">
                                <a class="nav-link underline " href="#">contact</a>
                            </li>


                            <!-- Search and select language -->

                            <li class="mainnavmobile nav-item not-underline" id="search-box">
                                <a id="loope" class="search-btn nav-link " href="#"><i class="fa fa-search"></i></a>
                                <input type="text" class="search-txt shadow-none" placeholder="search"
                                    name="search-txt" />

                            </li>


                            <li id="li-flag" class="mainnavmobile nav-item dropdown not-underline">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="true" aria-expanded="false"><img class="flags"
                                        src="assets/images/flags/fr.png"></a>
                                <div id="select_flag" class="dropdown-menu">
                                    <a id="dropdown-flags" class="dropdown-item" href="#"><img class="flags"
                                            src="assets/images/flags/gb.png">English</a>

                                </div>
                            </li>

                        </ul>





                        <!-- Search and select language -->
                        <div class="navbar-nav">
                            <ul id="search_nav" class="navbar-nav justify-content-end">
                                <!-- search-->



                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
{{ content }}

    </div>



    <!-- Scripts -->

    <script src="assets/js/jquery.slim.min.js"> </script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bootstrap.min.js"> </script>

    <script src="assets/js/main.js"></script>
</body>

</html>
